# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# IDE
.idea/
.vscode/

# Allure
allure-results/
allure-report/

# Local test artifacts
test-results/
logs/

# MacOS
.DS_Store
